<ul class="nav nav-pills pull-right" ng-controller="NavCtrl" ng-show="show">
  <li class=""><a><span id="prevProblem" class="glyphicon glyphicon-step-backward board-button"></span></a></li>
  <li class=""><a><span id="nextProblem"  class="glyphicon glyphicon-step-forward board-button"></span></a></li>
  <li class=""><a><span id="undo" class="glyphicon glyphicon-circle-arrow-left board-button"></span></a></li>
  <li class=""><a><span id="reload" class="glyphicon glyphicon-refresh board-button"></span></a></li>
</ul>