<ul class="nav nav-pills pull-right" ng-controller="NavCtrl" ng-show="show">
  <li class=""><a id="prevProblem" class="btn btn-default glyphicon glyphicon-step-backward board-button"></a></li>
  <li class=""><a id="nextProblem"  class="btn btn-default glyphicon glyphicon-step-forward board-button"></a></li>
  <li class=""><a id="undo" class="btn btn-default glyphicon glyphicon-circle-arrow-left board-button"></a></li>
  <li class=""><a id="reload" class="btn btn-default glyphicon glyphicon-refresh board-button"></a></li>
</ul>