<!--
<div id="entry">
  <h3>Enter a FEN:</h3>
  <div class="fenentry"></div>
</div>
-->
<div id="problem-book">
    <div class="skipSolvedProblems pull-right"></div>
    <h3>KingHunt</h3>
    <p><em>{{book.title}}</em>, {{book.year}}</p>
    <ul class="list-group">
      <li class="list-group-item problem-list" ng-repeat="problem in book.problems | filter:bookSvc.isSolved(problem.id)">
        <button class="solvedMark"></button>
        <a href="#/board/{{problem.id}}">
          <div class="stipulation">#{{ problem.id }}: {{ problem.fen | whoseTurn }} to play and {{problem.stipulation | translateStipulation }}</div>
          <div class="author">{{ problem.author }}</div>
        </a>
      </li>
    </ul>
</div>

